.content-history {
    display: flex;
    width: 100%;
    height: inherit;
    align-items: center;
    justify-content: center;
}

.activity-div-day {
    width: 430px;
    height: auto;
    margin: 0 4px;
}

.activity-row {
    border-radius: 14px;
    background-color: #DABA4A;
    display: grid;
    grid-template-columns: 280px 1fr;
    margin: 5px 0;
    align-items: center;
    justify-content: center;
}

.activity-row img {
    width: 60px;
}

.single-activity {
    display: grid;
    grid-template-columns: 280px;
    padding: 16px;
}

.single-activity:hover {
    cursor: pointer;
}

.activity-img {
    display: flex;
    justify-content: center;
}

.single-activity span {
    margin: 2px;
}

.activity-column {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    overflow: auto;
    background-color: #fefefc;
    border-left: 2px solid #888;
    z-index: 1;
}

.activity-img {
    width: 60px;
    height: 60px;
    padding: 15px;
    background-color: orange;
    border-radius: 50%;
    place-self: center;
}

::-webkit-scrollbar {
    width: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.submit-cancel {
  background: url("/public/img/cancel.png");
  width: 60px !important;
  height: 60px !important;
}

.activity-date {
    text-align: center;
    background-color: orange;
    margin-left: 120px;
    margin-right: 120px;
    border-radius: 10px;
}

.tooltip-cancel {
    position: relative;
  }
  
  .tooltip-cancel .tooltiptext-cancel {
    visibility: hidden;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 110%;
    left: 35%;
    margin-left: -60px;
  }
  
  .tooltip-cancel .tooltiptext-cancel::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .submit-cancel:hover + .tooltiptext-cancel {
    visibility: visible;
  }

  .tooltip-right {
    position: relative;
    font-size: 17px;
  }
  
  .tooltip-right .tooltiptext-right {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -35px;
    left: 122%;
  }
  
  .tooltip-right .tooltiptext-right::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip-right:hover .tooltiptext-right {
    visibility: visible;
  }

  .tooltip-right-top-form {
    font-size: 17px;
  }
  
  .tooltip-right-top-form .tooltiptext-right-top-form {
    visibility: hidden;
    width: 150px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 5px;
    right: -200px;
  }
  
  .tooltip-right-top-form .tooltiptext-right-top-form::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  .tooltip-right-top-form:hover .tooltiptext-right-top-form {
    visibility: visible;
  }