@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
  width: 100%;
  height: 100vh;
  background-image: url("img/wave-login-bottom.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  font-family: "Hammersmith One", sans-serif;
}

.previous {
  position: absolute;
  top: 2px;
  left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
}

.button {
  background: rgb(240, 191, 102);
  padding: 1.5rem;
  border-radius: 4rem;
  cursor: pointer;
  transition: .5s/2;
  margin: 1rem;
}

.button:hover {
    background: rgb(223, 132, 13);
  }


.arrow {
  position: relative;
  background: whitesmoke;
  width: 4rem;
  height: 0.4rem;  
  border-radius: 1rem;
  transform-origin: right center;
}

.arrow:before {transform: rotate(-35deg); }
.arrow:after { transform: rotate(35deg); }

.arrow:before, .arrow:after {
      display: block;
      content: "";
      position: absolute;
      left: 0;
      background: whitesmoke;
      width: 2rem;
      height: 0.4rem;
      transform-origin: 0.2rem center;
      transition: .5s;
      border-radius: 1rem;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  background-image: url("img/wave-login-top.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.center {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: #e9e7e7;
  width: 460px;
  height: 90vh;
  border-radius: 14px;
}

.center img {
  padding: 40px 0;
}

#error_msg {
  text-align: center;
  color: red;
  margin-bottom: 0px;
}

#error {
  color: red;
  text-align: center;
  position: absolute;
  font-size: 14px;
  z-index: 43;
}

.content {
  position: absolute;
  bottom: 0px;
  left: 0px;
  transition: all 0.3s ease;
}

