.content-mysummary {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    width: 100%;
    overflow: auto;
}

.diagrams-container {
    display: flex;
    overflow-x: scroll;
}

.diagram-container {
    width: 750px;
    background-color: #e0dbc9;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.single-activity #number {
    margin: 20px 0;
    font-size: 26px;
}

.activity-sum {
    width: 430px;
}


#myChart, #myChart1, #myChart2, #myChart3, #myChart5 {
    width: 750px;
}

::-webkit-scrollbar {
    height: 10px;
  }
