@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
  width: 100%;
  height: 100vh;
  font-family: "Hammersmith One", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  background: -webkit-linear-gradient(rgb(241, 212, 157), rgb(233, 193, 160));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url("img/wave-index-top.png");
  height: 184px;
  color: white;
  font-size: 36px;
}

.header div {
  margin: 35px 50px;
}

.content {
  height: calc(100vh - 454px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.left {
  width: 50%;
  display: flex;
  justify-content: center;
}

.left div {
  width: 560px;
}

.left div img {
  display: none;
}

.img {
  display: none;
}

.right {
  display: flex;
  justify-content: center;
  width: 50%;
}

.right img {
  width: 85%;
}

.left div p {
  font-size: 64px;
  margin: 14px 0;
}

.left div span {
  font-size: 24px;
}

.footer {
  height: 270px;
  background-image: url("img/waves-full.png");
}

@media screen and (max-width: 1195px) {
  .header {
    height: 45px;
    font-size: 16px;
  }
  .header div {
    margin: 0 20px;
  }

  .left div {
    width: 250px;
  }

  .left div p {
    font-size: 24px;
    margin: 20px 0 4px 0;
  }

  .left div span {
    font-size: 12px;
  }

  .img {
    display: block;
  }

  .img:nth-child(1) {
    width: 120px;
    position: absolute;
    top: 200px;
    left: -25px;
  }

  .img:nth-child(2) {
    width: 105px;
    position: absolute;
    top: 70px;
    right: -10px;
  }

  .img:nth-child(3) {
    width: 140px;
    position: absolute;
    top: 400px;
    right: -30px;
  }

  .img:nth-child(4) {
    width: 60px;
    position: absolute;
    top: 600px;
    left: -20px;
  }

  .left div div img {
    display: block;
  }

  .left div div {
    display: flex;
    justify-content: center;
  }

  .right {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .img:nth-child(1) {
    width: 80px;
    position: absolute;
    top: 200px;
    left: -25px;
  }

  .img:nth-child(2) {
    width: 60px;
    position: absolute;
    top: 70px;
    right: -10px;
  }

  .img:nth-child(3) {
    width: 80px;
    position: absolute;
    top: 400px;
    right: -30px;
  }

  .img:nth-child(4) {
    width: 40px;
    position: absolute;
    top: 500px;
    left: -20px;
  }
}
