<!DOCTYPE html>
<html>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/public/profile_style.css">
    <link rel="stylesheet" href="/public/styling_form.css">
    <body>
        <div class="main">
            <div class="add-activity-div">
                <div class="form-basic-left"></div>
                <div class="form-basic">
                    <div class="form-div">
                    <form method="POST">
                        <p></p>
                        
                        <span>Odzyskiwanie hasła</span>
                        <div class="input-div">
                            <input type="text" name="email" class="input" value="<%= login %>" disabled>
                        </div>
                    
                        <div class="input-div">
                            <input type="text" name="password" class="input" autocomplete="off" required>
                            <label for="password" class="label" style="font-size: 26px;">
                                <span class="label-text">Nowe hasło</span>
                            </label>
                        </div>
                    
                        <input type="submit" class="btn-grad" value="Wyślij">
                
                    </form>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>