<div class="content">
    <div class="content-manage">
        <div class="manage-row">
            <%-include('../partials/newPasswd.ejs');%>
            <div class="edit-class-img-div">
                <img src="/public/img/lock-new.png">
            </div>
        </div>
    </div>
</div>
<div class="right-corner">
</div>