<div class="class-min" onclick="classEdition('<%=klasa[1]%>')">
    <h1><%= klasa[0] %></h1>
    <div class="tooltip-copy">
    <input type="text" readonly="true" value="<%= klasa[1] %>" onmousedown="copyValue(this.value)">
    <span class="tooltiptext-copy">Kliknij aby skopiować kod klasy do schowka</span></div>
</div>