<div class="content">
    <div class="class-container">
        <% klasyArr.forEach(klasa=> { %>
            <%- include('kafelka.ejs', {klasa}) %>
        <% });%>
    </div>
</div>
<div class="right-corner">
    <%- include('../partials/createClassForm.ejs'); %>
</div>