<div class="content">
    <div class="content-mysummary">
        <div class="trivia">
            <div class="activity-sum">
                
            </div>
        </div>
        <div class="diagrams-container">
            <div class="diagram-container"><canvas id="myChart2"></canvas></div>
            <div class="diagram-container"><canvas id="myChart3"></canvas></div>
            <div class="diagram-container"><canvas id="myChart5"></canvas></div>
            <div class="diagram-container"><canvas id="myChart1"></canvas></div>
            <div class="diagram-container"><canvas id="myChart"></canvas></div>
        </div>
    </div>
   
</div>
<div class="right-corner"></div>